/* Conteneur principal */
:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #1b1b29 40%, #0f0f1f 90%);
    border-radius: 12px;
    color: #d3a761;
    padding: 15px;
    box-sizing: border-box;
}

h3 {
    text-align: left;
    margin: 0 0 10px 0;
    color: #d3a761;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 5px rgba(211, 167, 97, 0.7), 0 2px 3px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(211, 167, 97, 0.5);
    padding-bottom: 5px;
}

canvas {
    display: block;
    margin: 0 auto;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
}

#preset-select {
    width: 80%;
    margin: 10px auto;
    padding: 5px;
    background: #202033;
    color: #d3a761;
    border: 1px solid #444450;
    border-radius: 5px;
    font-size: 14px;
    z-index: 10;
    overflow-y: auto;
}

#preset-select::-webkit-scrollbar {
    width: 10px; 
    background: #202033;
}
