body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', sans-serif;
    background: #1b1b2f; /* Arrière-plan principal sombre */
    color: white;
    overflow: hidden;
}

.butterchurn-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Met Butterchurn en arrière-plan */
    overflow: hidden;
}

#butterchurnCanvas {
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-areas:
        "controls-left vinyl controls-right"
        "playlist playlist launchpad";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100vh;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 1; /* Met la grille principale au-dessus du fond */
}