body {
    margin: 0;
    overflow: hidden;
  }
  
  audio {
    display: inline-block;
    width: 100%;
    height: 40px;
  }
  
  canvas {
    display: block;
    width: 100%;
  }
  
  #container {
    height: calc( 1000px - 40px );
  }
  
  #upload {
    display: none;
  }