:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #0a5a64;
    border-radius: 8px;
    color: #eeeeee;
    font-family: Arial, sans-serif;
    padding: 10px;
    box-sizing: border-box;
}

h3 {
    text-align: left;
    margin: 0 0 10px 0;
}

.track-list {
    flex-grow: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.track-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #ffffff;
    position: relative;
}

.track-list li:last-child {
    border-bottom: none;
}

.track-list li span {
    flex-grow: 1;
    margin-right: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.track-list li .button-group {
    display: flex;
    gap: 10px; /* Espacement entre les boutons */
    position: absolute;
    right: 0; /* Aligne les boutons à droite */
}

.track-list li button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer; 
    padding: 0;
    transition: transform 0.2s ease; 
}

.track-list li button:hover {
    transform: scale(0.9);
}

.track-list li button img {
    width: 30px; 
    height: 30px;
    object-fit: contain;
}

.track-list li button:hover img {
    opacity: 0.8; 
}