:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #0a5a64;
    border-radius: 8px;
    color: #eeeeee;
    font-family: Arial, sans-serif;
    padding: 10px;
    box-sizing: border-box;
}

h3 {
    text-align: left;
    margin: 0 0 10px 0;
}

.track-list {
    flex-grow: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.track-list li {
    display: grid;
    grid-template-columns: 50px 1fr 100px 150px; /* Colonnes : ID | Nom | Durée | Boutons */
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #ffffff;
}

.track-list li:last-child {
    border-bottom: none;
}

.track-list li span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.track-list li .button-group {
    display: flex;
    gap: 10px; /* Espacement entre les boutons */
    right: 0; /* Aligne les boutons à droite */
}

.track-list li button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer; 
    padding: 0;
    transition: transform 0.2s ease; 
}

.track-list li button:hover {
    transform: scale(0.9);
}

.track-list li button img {
    width: 30px; 
    height: 30px;
    object-fit: contain;
}

.track-list li button:hover img {
    opacity: 0.8; 
}

.track-list li.current {
    background-color: rgba(255, 255, 255, 0.1);
    font-weight: bold;
}

.track-id {
    text-align: center;
    font-weight: bold;
}

.track-name {
    position: relative; /* Nécessaire pour l'animation */
    overflow: hidden; /* Cache les débordements */
    white-space: nowrap; /* Empêche le retour à la ligne */
    display: inline-block; /* Nécessaire pour contenir le texte */
    width: 100%; /* Limite la largeur au conteneur */
}

.track-name span {
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    animation: scroll-infinite 10s linear infinite; /* Défilement infini */
}

@keyframes scroll-infinite {
    0% {
        transform: translateX(100%); /* Commence hors du conteneur, à droite */
    }
    100% {
        transform: translateX(-100%); /* Termine hors du conteneur, à gauche */
    }
}

.track-duration {
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.button-group button img {
    width: 24px; 
    height: 24px;
}

.track-list li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}