<div class="butterchurn-background">
    <canvas id="butterchurnCanvas"></canvas>
</div>

<!-- Grille principale -->
<div class="container">
    <!-- Contrôles Gauche -->
    <div class="controls-left">
        
    </div>

    <!-- Vinyle au centre -->
    <div class="vinyl">
        <div class="vinyl-disk"></div>
    </div>

    <!-- Contrôles Droite -->
    <div class="controls-right">
        
    </div>

    <!-- Liste de Musique -->
    <div class="playlist">
        
    </div>

    <!-- Launchpad -->
    <div class="launchpad">
        
    </div>
</div>