<!-- Grille principale -->
<div class="container">
    <!-- Contrôles Gauche -->
    <div class="equalizer">
        
    </div>

    <!-- Contrôles Droite -->
    <div class="controls-right">
        
    </div>

    <!-- Liste de Musique -->
    <div class="playlist">
        
    </div>

    <!-- Launchpad -->
    <div class="launchpad">
        
    </div>

    <!-- Effet Visuel Launchpad -->
    <div class="launchpad-effect">
        
    </div>

    <!-- Spacilazider -->
    <div class="spacilazider">
        
    </div>
    
    <!-- Butterchurn -->
    <div class="butterchurn">
        
    </div>
</div>