<div class="container">
    <header class="header">DJ Player</header>

    <!-- Partie gauche : Contrôle -->
    <div class="content-left">
        <form id="audioForm" class="form">
            <input type="text" id="youtubeUrl" placeholder="Entrez une URL YouTube" />
            <button id="loadVideoBtn">Charger Musique</button>
            
            <!-- Contrôles audio -->
            <div class="controls">
                <button id="playPauseBtn">Play</button>
                <button id="stopBtn">Stop</button>
                <button id="speedUpBtn">Speed Up</button>
                <button id="slowDownBtn">Slow Down</button>
                <button id="muteBtn">Mute</button>
                <label for="volumeRange" id="volumeText">Volume</label>
                <input type="range" id="volumeRange" min="0" max="100" value="100" />
            </div>
        </form>
    </div>

    <!-- Partie droite : Visualisation du son -->
    <div class="content-right">
        <div id="audioDisplay"></div>
    </div>

    <footer class="footer">S. TABBAA - M2 Miage - NumRes - 2024/2025</footer>
</div>
