body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

.header, .content-left, .footer {
    font-family: 'Poppins', sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 60px 1fr 30px;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(45deg, #031633, #095b41); /* Dégradé de fond pour tout le body */
}

.header {
    grid-column: 1 / -1;
    background-color: white;
    background: linear-gradient(135deg, #490852, #a30a85);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slide-down 0.5s ease-out;
    height: 100%;
}

@keyframes slide-down {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Contenu gauche */
.content-left {
    padding: 20px;
    background-color: #ffffff;
    background: linear-gradient(135deg, #f3f4f6, #e2e3e7);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    animation: fade-in-left 0.8s ease-in-out;
    align-items: center;
}

@keyframes fade-in-left {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Contenu droit */
.content-right {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    animation: fade-in-right 0.8s ease-in-out;
    position: relative; 
    flex: 1;
    padding-left: 20px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

@keyframes fade-in-right {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.footer {
    grid-column: 1 / -1;
    background: linear-gradient(135deg, #000000, #333130);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #c4c4c4;
    border-radius: 10px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    animation: slide-up 0.5s ease-out;
}

@keyframes slide-up {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.container > div, .header, .footer {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container > div:hover, .header:hover, .footer:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
