/* Animation de rotation */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Animation d'apparition progressive (fade-in) */
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Animation de saut (bounce) */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Animation pulse */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Animation Zoom-in */
@keyframes zoom-in {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

/* Animation Zoom-out */
@keyframes zoom-out {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Animation Slide-in */
@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Animation Slide-out */
@keyframes slide-out {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Animation Slide-up */
@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

/* Animation Slide-down */
@keyframes slide-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

/* Animation Slide-left */
@keyframes slide-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Animation Slide-right */
@keyframes slide-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

/* Animation Shake */
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

/* Animation Jello */
@keyframes jello {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

/* Animation Tada */
@keyframes tada {
    0% {
        transform: scale3d(1, 1, 1);
    }
    10%, 20% {
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

/* Animation Wobble */
@keyframes wobble {
    0% {
        transform: none;
    }
    15% {
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }
    30% {
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
    45% {
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
    60% {
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }
    75% {
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }
    100% {
        transform: none;
    }
}

/* Appliquer les animations */
.rotate {
    animation: rotate 2s infinite linear;
}

.fade-in {
    animation: fade-in 2s forwards;
}

.bounce {
    animation: bounce 2s infinite;
}

.pulse {
    animation: pulse 2s infinite;
}

.zoom-in {
    animation: zoom-in 2s forwards;
}

.zoom-out {
    animation: zoom-out 2s forwards;
}

.slide-in {
    animation: slide-in 2s forwards;
}

.slide-out {
    animation: slide-out 2s forwards;
}

.slide-up {
    animation: slide-up 2s forwards;
}

.slide-down {
    animation: slide-down 2s forwards;
}

.slide-left {
    animation: slide-left 2s forwards;
}

.slide-right {
    animation: slide-right 2s forwards;
}

.shake {
    animation: shake 2s infinite;
}

.jello {
    animation: jello 2s infinite;
}

.tada {
    animation: tada 2s infinite;
}

.wobble {
    animation: wobble 2s infinite;
}

/** Pour le dégradé du text **/
.draggable {
    background-clip: text;
    -webkit-background-clip: text; /* Pour Safari et Chrome */
    color: transparent; /* Cacher la couleur originale du texte */
}