.launchpad-effect {
    position: relative; /* S'assure que le conteneur parent est positionné */
    width: 100%; /* Prend toute la largeur du parent */
    height: 100%; /* Prend toute la hauteur du parent */
}

.effect-container {
    top: 0;
    left: 0;
    width: 100%; /* Largeur totale du parent */
    height: 100%; /* Hauteur totale du parent */
    overflow: hidden; /* Masque le contenu qui dépasse */
    z-index: -1;
}


.launchpad-effect-image {
    position: absolute;
    width: 80px;
    height: 80px;
    animation: effectFadeInOut 2s forwards;
    transform: translate(-50%, -50%);
}

@keyframes effectFadeInOut {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
